/* Google Fonts: */
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');

/* Global Variable */
:root{
    --main: #f1760b;
}

* {
    font-family: 'Josefin Sans', sans-serif;
    transition: 0.3s;
}

*::selection{
    background-color: var(--main);
    color: #000;
}

